@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flicker($color) {
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $color, 0 0 82px $color,
    0 0 92px $color, 0 0 102px $color, 0 0 151px $color;
  animation: flicker 2s infinite alternate;
  @keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px $color, 0 0 80px $color,
        0 0 90px $color, 0 0 100px $color, 0 0 150px $color;
    }
    20%,
    24%,
    55% {
      text-shadow: none;
    }
  }
}

@mixin smooth-shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}
@mixin text-shadow {
  text-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

$main-font: 'Source Sans Pro', sans-serif;
$hand-font: 'Pacifico', cursive;

$bg-color: #efebe7;
$black: #202020;
$pink: #f7a3a3;
