@import 'base.scss';

.home {
  min-height: 100vh;
  flex-direction: column;
  @include flex();
  background-color: $bg-color;
  section {
    height: 100vh;
    width: 100%;
  }
  .header {
    display: flex;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $black;
    .title {
      position: relative;
      h1 {
        font-family: $hand-font;
        font-size: 12rem;
        margin-bottom: 1rem;
        font-weight: 500;
        z-index: 2;
        position: relative;
        color: $pink;
        @include text-shadow;
      }
      img {
        position: absolute;
        bottom: 0;
        height: 100%;
        right: 0;
        z-index: 1;
        transform: translate(80%, 20%);
        border-radius: 10px;
      }
    }

    p {
      font-family: $main-font;
      font-size: 7rem;
    }
  }
  .clothes {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0px;
    & > div {
      height: 100%;
      color: $black;
      font-weight: 700;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .lImage {
      width: 25%;
      height: 80%;
      position: relative;
      .title {
        position: absolute;
        z-index: 10;
        font-size: 7rem;
        text-align: right;
        left: 70%;
      }
      .image {
        height: 100%;
        background-image: url('/img/3.jpg');
        background-size: cover;
        background-position-y: bottom;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        @include smooth-shadow();
        .illuTitle {
          @extend .title;
          z-index: 11;
          color: white;
          opacity: 0.6;
        }
      }
    }
    .rImage {
      width: 55%;
      display: flex;
      height: 95%;
      .title {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        font-size: 2rem;
        margin: 10px;
      }
      .image {
        width: calc(100% - 30px);
        height: 100%;
        overflow: hidden;
      }
    }
  }
  .jewelry {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .lContent {
      width: 55%;
      height: 70%;
      margin-bottom: 3rem;
      position: relative;
      .title {
        font-size: 10rem;
        line-height: 12rem;
        font-weight: 700;
        color: $pink;
        text-decoration: none;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, -70%);
        z-index: 10;
        @include text-shadow;
      }
      .image {
        @include size(100%, 100%);
        background-image: url('/img/Classical-U-D2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        overflow: hidden;
        position: relative;
        z-index: 1;
      }
    }
    .rContent {
      width: 35%;
      height: 90%;
      margin-bottom: 3rem;
      @include flex();
    }
  }
}
