@import '_base';

.customMouse {
  @include size(30px, 30px);
  background: $pink;
  position: fixed;
  opacity: 0.8;
  display: block;
  z-index: 99;
  border-radius: 50%;
  border: 3px solid $black;
  z-index: 9999999;
  pointer-events: none;
  transition: 0.2s ease all;
  overflow: hidden;
  @include flex();
  &.linkHover {
    @include size(50px, 50px);
  }
  &.clothesTitleHover,
  &.jewelryTitleHover {
    @include size(300px, 400px);
    border-radius: 7px;
    background: transparent;
    opacity: 1;
  }
  &.clothesTitleHover {
    .clothesSlide {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &.jewelryTitleHover {
    .jewelrySlide {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
