@import 'base';

.container {
  height: 100%;
  width: 100%;
  position: relative;
  @include flex();
  .navText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 500px;
    a {
      font-size: 4rem;
      font-weight: bold;
      color: $black;
      opacity: 0.8;
      transition: 0.3s ease color;
      &:first-child {
        font-size: 6rem;
        z-index: 99;
      }
      &:hover {
        color: $pink;
      }
    }
  }
  .bgContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    & > div {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 10px;
      &:nth-child(2) {
        flex-direction: column-reverse;
      }
      .imageWrapper {
        width: 60%;
        height: 30%;
        border-radius: 3px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(0.9);
          border-radius: 10px;
        }
        &.landscape {
          width: 100%;
        }
        &.bgRed {
          background-color: #dd8e8e96;
        }
      }
      &:first-child {
        & > div {
          &:nth-child(2) {
            left: 20%;
            top: -5%;
          }
          &:nth-child(3) {
            left: -5%;
            top: -5%;
          }
        }
      }
      &:last-child {
        & > div {
          &:first-child {
            z-index: 3;
            left: 15%;
            height: 40%;
          }
          &:nth-child(2) {
            z-index: 2;
            left: -15%;
            top: 3%;
          }
          &:last-child {
            z-index: 1;
          }
        }
      }
    }
  }
}
